<button (click)="change()">变变变变变变变变变变变变变变变</button>


    <div 
        vkTrend
        [data] ="chartData"
        [lines]="[{position:'date*money', shape:'smooth' , color:'country'}]"
        [fold]="{
            fields: ['CHN', 'USA','JAN'],
            key: 'country',
            value: 'money'
        }"
        [rename]="{date:'年',CHN: '中国',USA: '美国'}"
    ></div>


    <div 
        vkTrend
        [data] ="chartData"
        [lines]="[{position:'date*CHN', shape:'smooth' , color :'hotPink'} , {position:'date*USA', shape:'line'}]"
        [rename]="{date:'年',CHN: '中国',USA: '美国'}"
    ></div>